@font-face {
	font-family: EpilepsySans;
	src: url(/EpilepsySans.ttf) format("truetype");
}

@font-face {
	font-family: EpilepsySans;
	src: url(/EpilepsySansBold.ttf) format("truetype");
	font-weight: bold;
}

body {
	margin: 0;
	padding: 0;
	background: #000000;
	color: #FFFFFF;
	font-family: 'EpilepsySans', Tahoma, sans-serif;
	font-size: 22px;
	border: none;
}

#statuscafe-username {
	padding-bottom: 10px;
	padding-left: 10px;
	border-bottom: 3px solid #FFD943;
	padding: 5px;
}
	
#statuscafe-content {
	margin: 0;
	padding: 10px;
}

a {
    color:  #FF6EC0;
	font-weight: bold;
}


