@font-face {
	font-family: EpilepsySans;
	src: url(/EpilepsySans.ttf) format("truetype");
}

@font-face {
	font-family: EpilepsySans;
	src: url(/EpilepsySansBold.ttf) format("truetype");
	font-weight: bold;
}

::selection {
	color: #000000;
	background-color: #FF6EC0;
	text-shadow: none;
}

a {
    color:  #FF6EC0;
	font-weight: bold;
}

body {
	margin: 0;
	padding: 0;
	background: #000000;
	color: #FFFFFF;
	font-family: 'EpilepsySans', Tahoma, sans-serif;
	font-size: 22px;
}

span.nbr {
	white-space: nowrap;
}

#statuscafe-username {
	padding: 15px;
	border-bottom: 3px solid #FFD943;
}
	
#statuscafe-content {
	padding: 15px;
}



