@font-face {
	font-family: EpilepsySans;
	src: local("Epilepsy Sans"), url(/fonts/EpilepsySans.ttf) format("truetype");
}

@font-face {
	font-family: EpilepsySans;
	src: local("Epilepsy Sans Bold"), url(/fonts/EpilepsySansBold.ttf) format("truetype");
	font-weight: bold;
}

@font-face {
    font-display: block;
    font-family: "SerenityOSEmoji";
    font-style: normal;
    src: local("SerenityOS Emoji"), url(/fonts/SerenityOS-Emoji.ttf) format("truetype");
    unicode-range: U+00A9, U+00AE, U+200D, U+203C, U+2049, U+20E3, U+2122, U+2139, U+2194-2199, U+21A9-21AA, U+231A-231B, U+2328, U+2388, U+23CF, U+23E9-23F3, U+23F8-23FA, U+24C2, U+25AA-25AB, U+25B6, U+25C0, U+25FB-25FE, U+2600-27EF, U+2934-2935, U+2B00-2BFF, U+3030, U+303D, U+3297, U+3299, U+1F000-1F64F, U+1F680-1F6FF, U+1F774-1F77F, U+1F7D5-1F7FF, U+1F80C-1F80F, U+1F848-1F84F, U+1F85A-1F85F, U+1F888-1F88F, U+1F8AE-1F8FF, U+1F90C-1FAFF U+FE0E-FE0F;
}

::selection {
	color: #000000;
	background-color: #FF6EC0;
	text-shadow: none;
}

a {
    color:  #FF6EC0;
	font-weight: bold;
	cursor: url('/i/pointer.png') 5 0, pointer;
}

a:hover {
	text-decoration: none;
	color: #FFD943;
}

body {
	margin: 0;
	padding: 0;
	overflow-y: hidden;
	background: #000000;
	color: #FFFFFF;
	font-family: 'EpilepsySans', Tahoma, sans-serif;
	font-size: 22px;
	text-wrap: pretty;
}

html {
	scrollbar-color: #FF6EC0 #FFD943;
	scrollbar-width: thin;
	cursor: url('/i/cursor.png'), auto;
}

span.nbr {
	white-space: nowrap;
}

#statuscafe {
	width: 100%;
}

#statuscafe-username {
	padding: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 3px solid #FFD943;
}
	
#statuscafe-content {
	padding: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

@media only screen and (max-width: 800px) {
	body {
		font-size: 1.4em;
	}
}


